{% extends "base.html" %}

{% block agregarGenero %}
<div class="max-w-lg mx-auto mt-10">
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/agregarGenero/">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="txtGenero">Género</label>
            <input name="txtGenero" class="border border-gray-300 rounded-md py-2 px-4 w-full focus:outline-none focus:ring focus:border-blue-500" id="txtGenero" type="text" placeholder="Agrega nuevo género" required>
        </div>

        <div class="flex items-center justify-center">
            <button class="bg-transparent hover:bg-blue-100 text-blue-700 font-bold py-2 px-4 border border-blue-500 rounded focus:outline-none focus:shadow-outline" type="submit">Guardar</button>
        </div>
    </form>
    <a class="block text-center text-blue-700 hover:text-blue-900 font-bold py-2 px-4 mb-2 border border-blue-500 rounded hover:bg-blue-100 focus:outline-none focus:shadow-outline" href="{% url 'agregarPelicula' %}">Agregar una Película</a>
    <a class="block text-center text-blue-700 hover:text-blue-900 font-bold py-2 px-4 mb-2 border border-blue-500 rounded hover:bg-blue-100 focus:outline-none focus:shadow-outline" href="{% url 'listarPeliculas' %}">Ir a la lista de Películas</a>
    <a class="block text-center text-blue-700 hover:text-blue-900 font-bold py-2 px-4 mb-2 border border-blue-500 rounded hover:bg-blue-100 focus:outline-none focus:shadow-outline" href="{% url 'listarGeneros' %}">Ir a la lista de Géneros</a>
    {% if mensaje %}
    <p class="text-center text-red-500 text-sm mt-4">{{ mensaje }}</p>
    {% endif %}
</div>
{% endblock %}
