{% extends "base.html" %}


{% block listarPeliculas %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-[8%]  ">
   
    <label class="block ml-[35%] text-xl text-gray-700 text-sm font-bold mb-2" for="txtGenero">
        PELICULAS DISPONIBLES
    </label>
    {{mensaje}}
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-center  text-gray-700 uppercase dark:text-gray-400">
            <tr class="text-lg border border-black">
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                    Codigo
                </th>
                <th scope="col" class="px-6 py-3">
                    Titulo
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                    Protagonista
                </th>
                <th scope="col" class="px-6 py-3">
                    Duracion
                </th>
                <th scope="col" class="px-6 py-3 dark:bg-gray-800">
                    Resumen
                </th>
                <th scope="col" class="px-6 py-3">
                    foto
                </th>
                <th scope="col" class="px-6 py-3 dark:bg-gray-800">
                    Genero
                </th>
                <th scope="col" class="px-6 py-3 dark:bg-gray-800">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            {% for p in peliculas%}
                <tr class="border-b text-center text-base border-gray-200 dark:border-gray-700">
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{p.codigo }}
                    </td>
                    <td class="px-10 py-10 ">
                        {{p.titulo }}

                    </td>
                    <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                        {{p.protagonista }}

                    </td>
                    <td class="px-6 py-4">
                        {{p.duracion }}
                        
                    </td>
                    <td class="px-6 py-4 dark:bg-gray-800">
                        {{p.resumen }}

                    </td>
                    <td class="px-6 py-4">
                        
                        <img src="/media/{{p.foto }}" alt="Foto de referencia" width="100" height="100">

                    </td>
                    <td class="px-6 py-4 dark:bg-gray-800">
                        {{p.genero.nombre }}

                    </td>

                    <td>
                        
                      <a class="bg-green-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " href="/consultarPelicula/{{p.id}}">EDITAR</a>
                      <br>
                      <br>
                     <button class="bg-red-500 mx-auto  text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " onclick="eliminarPelicula('{{p.id}}')"><i>ELIMINAR</i></button>
                     


                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
<br>
<a class="bg-green-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " href="{% url 'agregarGenero' %}">Agregar un nuevo Genero</a>
<a class="bg-green-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " href="{% url 'agregarPelicula' %}">Agregar una nueva Pelicula</a>
<a class="bg-green-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " href="{% url 'listarGeneros' %}">Ir a la lista de Generos</a>
{% endblock %}